html,body {
  width: 100%;
  height: 100%;
  background-image: url('../images/punch/body-1.png');
  background-repeat: repeat;
  display: inline-block;
  background-size: 100%;
}

@mixin font($size,$color,$family:'PingFang-SC-Medium') {
  font-family: $family;
  font-size: $size;
  color: $color;
}
.box {
  width: 750px;
  height: 750px;
  background-image: url('../images/punch/pbg@2x.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100%;
  .box_content{
    margin-top: 364px;
    position: absolute;
    width: 100%;
    .box-top-txt{
        height: 0.8rem;
        text-align: center;
        line-height: 0.8rem;
        font-size: 0.34rem;
        color: #fbe494;
        .text-red{
          color: #f44b50
        }
    }
    .box-top-txt::before{
      content: '';
      background-image: url('../images/punch/zhuangshi@2x.png');
      background-repeat: no-repeat;
      background-position: bottom;
      position: relative;
      display: inline-block;
      margin-right: 0.1rem;
      background-size: 70%;
        width: 0.6rem;
        height: 0.6rem;
    }
    .box-top-txt::after{
      content: '';
      background-image: url('../images/punch/zhuangshi@2x.png');
      background-repeat: no-repeat;
      background-position: bottom;
      position: relative;
      display: inline-block;
      margin-left: 0.1rem;
      background-size: 70%;
        width: 0.6rem;
        height: 0.6rem;
    }
    .box-top-time{
      line-height: 0.8rem;
      font-size: 0.4rem;
      color: #fbe494;
      text-align: center;
      margin: 0.15rem 0;
      span{
        background-color: #363636;
        border-radius: 0.1rem;
        padding: 0.1rem;
        font-size: 0.44rem;
        margin: 0.1rem;
      }
    }
    .box-center{
      height: 5rem;
      width: 100%;
      background-image: url('../images/punch/bg-1@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-size: 88%;
      .box-center-title{
        color: #9f0924;
        text-align: center;
        font-weight: 500;
        height: 0.9rem;
        line-height: 0.9rem;
        vertical-align: middle;
        span{
          color: #f44b50;
        }
        img{
          margin-top: -0.1rem;
          margin-left: 0.1rem;
          width: 0.32rem;
          height: 0.32rem;
          vertical-align: middle;
        }
      }
      .box-center-da{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0.2rem 0.5rem;
        div{
          margin: 0.05rem;
          img{
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
    .box-top-tips{
      color: #fbf4c0;
      text-align: center;
      border: 1px solid #d45f22;
      border-radius: 0.4rem;
      line-height: 0.6rem;
      font-size: 0.3rem;
      margin: 0.5rem 0.75rem 0.2rem;
    }

    .box-center-kai{
      height: 4.2rem;
      width: 100%;
      margin: 0 auto;
      background-image: url('../images/punch/kaihongbao@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-size: contain;
    }
    .box-center-de{
      height: 4.2rem;
      width: 100%;
      margin: 0 auto;
      background-image: url('../images/punch/dehongbao@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-size: contain;
      .center-de-bi{
        margin-top: 2rem;
        text-align: center;
        color: #fff;
        font-size: 0.85rem
      }
    }
    .box-center-xuan{
      height: 1.1rem;
      width: 6rem;
      margin: 0.15rem .7rem;
      background-image: url('../images/punch/btnfen@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-size: 100%;
    }
    .box-center-down{
      height: 1.1rem;
      width: 6rem;
      margin: 0.15rem .7rem;
      background-image: url('../images/punch/downbtn@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      background-size: 100%;
    }
    
  }
  .dialog_right{
      position: fixed;
      top: 0.8rem;
      right: 0;
      height: .55rem;
      width: 1.4rem;
      background-image: url('../images/punch/huodong@2x.png');
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 100%;
  }
  .dialog {//弹层
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
  }

  .dialog-overlay {// 模态
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10002;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .dialog-content {//内容
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10003;
    width: 6rem;
    height: 6.85rem;
    padding: 0.35rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    .dialog-content-title {//标题
      font-size: .38rem;
      text-align: center;
      font-weight: 600;
      color: #333;
    }
    .dialog-content-title::before{
      content: '';
      background-image: url('../images/punch/guizet@2x.png');
      background-repeat: no-repeat;
      background-position: bottom;
      position: relative;
      display: inline-block;
      margin-right: 0.1rem;
      background-size: 90%;
      vertical-align: middle;
      width: 0.5rem;
      height: 0.4rem;
    }
    .dialog-content-title::after{
      content: '';
      background-image: url('../images/punch/guizet@2x.png');
      background-repeat: no-repeat;
      background-position: bottom;
      position: relative;
      display: inline-block;
      margin-left: 0.1rem;
      background-size: 90%;
      vertical-align: middle;
      width: 0.5rem;
      height: 0.4rem;
    }
    .dialog-content-li{
      div{
        display: flex;
        margin: 0.2rem 0;
        .li-text{
          font-size: .27rem;
        }
        .li-red{
          color: #f44b50;
        }
      }
    }
    .dialog-btn-close {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      overflow: hidden;
      position: absolute;
      top: 0.2rem;
      right: 15px;
      cursor: pointer;
      background-color: transparent;
    }
    .dialog-btn-close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
    }
    .dialog-btn-close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
    }

    .dialog-btn-close:before, .dialog-btn-close:after {
      content: "";
      display: block;
      width: 0.4rem;
      height: 1px;
      background-color: #808080;
      position: absolute;
      top: 13px;
      right: 3px;
    }
  }

}