
$bigFont: 18px;
$midFont: 14px;
$normalFont: 12px;

$black: #333;
$white: #fff;
$mainRed: #ec0000;
$bgcolor: #f7f7f7;
$linecolor: #e5e5e5;
$eee: #eee;
$six: #666;
$nine: #999;
$orange: #f60;


$red: #f44b50;
$font-yellow: #b86d0b;
$back-yellow: #ffe6ba;
$light-back: #e7e7e7;
$light-font: #999999;
$base-font: #222222;
$topbg-color: #fff;
$border-color: #f1f1f1;
$light-font2: #666666;
$blue: #55aaec;
$gold: #fff600;
$yellow-btn: #ff8f3d;
$green: #4fa271;
$light-back2: #f4f4f4;
$light-font2: #777777;
//字体
$ft-btn-ljfx: #738fd9;
$ft-txt-je: #fef8af;
$ft-txt-bb: #bbb;
//背景
$bg-btn-ljfx: #e5e7e6;
$bg-f4: #f4f4f4;
//边框
$br-tb: #e8e8e8;
$br-ddd: #dddddd;
$br-btb: #738fd9;
$br-btf: #f1f1f1;